<!DOCTYPE html>
<html>
<head>
	<title>IT Designers</title>
	<link rel="stylesheet" type="text/css" href="~/css/css.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
	<section class="main-screen">
		<div class="nav-bar">
			<div class="nav-bar-logo">IT DESIGNERS</div>
			<div class="navigation">
				<ul>
					<li> <a href="#about-us-flag">O Nas</a> </li>
					<li> <a href="#offers-flag">Oferta</a> </li>
					<li> <a href="#our-clients-flag">Naszi Klienty</a> </li>
					<li> <a href="#contact-flag">Kontakt</a> </li>
				</ul>
			</div>
		</div>
		<div class="main-information">
			<h1>ZRRÓB COŚ DLA SIEBIE</h1>
			<h3>Weź los swojej firmy <br>we własne ręce i wprow<br>ją na nowy poziom</h3>	
		</div>

	</section>
	<section class="about-us" id="about-us-flag">
		<div class="numeration">
			<h1>01</h1>
			<h3>Poznaj nas</h3>
		</div>
		<div class="position-about-us">
			<div class="left">
			<h3>Dlaczego chcemy<br> ci pomóc ?</h3>
			<p>
				Jesteśmy agencją reklamową full service.<br> Od 20 lat na rynku. Najpierw słuchamy,<br> następnie dyskutujemy, potem działamy.
			</p>
		</div>
		<div class="right">
			
		</div>
		</div>
		
	</section>
	<section class="offers" id="offers-flag">
		<div class="numeration">
			<h3>Co możemy dla ciebie zrobić ?</h3>
			<h1>02</h1>			
		</div>
		<div class="main-screen-offers">
			<h1>Nasza oferta</h1>
			<div class="our-offers">
				<div class="offer">
					<div class="image"><img src="~/css/Images/1.png"></div>
					<div class="description">Kreujemy wizerunki marek <br>i produktów
					</div>
				</div>
				<div class="offer">
					<div class="image"><img src="~/css/Images/2.png"></div>
					<div class="description">
						Prowadzimy działania<br> digitalowe
					</div>
				</div>
				<div class="offer">
					<div class="image"><img src="~/css/Images/3.png"></div>
					<div class="description">
						Prowadzimy działania w<br>
						Social Media
					</div>
				</div>
				<div class="offer">
					<div class="image"><img src="~/css/Images/4.png"></div>
					<div class="description">Realizujemy kampanie i <br>akcje reklamowe
					</div>
				</div>			
			</div>
		</div>
	</section>
	<section class="our-clients" id="our-clients-flag">
		<div class="numeration">
			<h1>03</h1>		
			<h3>Zaufali nam</h3>	
		</div>
		<div class="main-screen-our-clients">
			<div class="content">
				<div class="left">
					<img src="">
				</div>
				<div class="right">
					<h1>Dubiel UX</h1>
					<div class="list">
						<ul>
							<li>Nowe logo</li>
							<li>Animacja reklamowa</li>
							<li>Spot reklamowy</li>
							<li>Odsiwerznie wizualne strony</li>
						</ul>	
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="contact" id="contact-flag">
		<div class="numeration">
			<h3>Kontakt</h3>
			<h1>04</h1>			
		</div>
		<div class="main-screen-contact">
			<div class="content">
				<div class="left">
					<div class="information">
						<h1>Napisz do nas</h1>
						<p>Ul.Smoleńska 27/5</p>
						<p>31-112 Kraków</p>
						<p>12 425 25 48</p>
						<br>
						<p>Godziny otwarcia:</p>
						<p>09:00-17:00</p>
					</div>
				</div>
				<div class="right">
					<form method="post">
						<input type="text" name="EmailString" placeholder="Email">
						<textarea name="Message" cols="40" rows="20" placeholder="Text">
							
						</textarea>
						<div class="button">
							<input type="submit" value="Send Request">	
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>